
@font-face {
    font-family: "IBM Plex Sans";
    src: url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
 
}

html {
    font-family: "IBM Plex Sans";
}